<!--Detalles-->
<div *ngIf="selectedHero"><h2>{{selectedHero.name | uppercase}} Details</h2>
<div><span>id: </span>{{selectedHero.id}}</div>
<div><span>name: </span>{{selectedHero.name}}</div></div>
<!--Update-->
<div *ngIf="selectedHero">
  <label>
    <input type="text" [(ngModel)]="selectedHero.name" placeholder="name">
  </label>
</div>
<!--List-->
<h2>My Heroes</h2>
<div class="list-group col-md-4 col-lg-3"><ul>
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)" class="list-group-item list-group-item-action">
    <span>{{hero.id}}</span> {{hero.name}}
  </li>
</ul></div>